$blue-100: #E9F0F8;
$blue-200: #0273b1;
$blue-300: #0074b3;
$blue-400: #0275B1;
$dark-100: #181818;
$white: white;
$white-100: #F4f4f4;
$white-200: #e5e5e5;
$white-300: #F7F9FB;
$gray-100: #747474;

$fs-1: 52px;
// $fs-2: 30px;
// $fs-3: 24px;
$fs-4: 18px;
$fs-5: 16px;
$fs-6: 14px;
$fs-7: 12px;